.TeamArea {
    position: relative; /* don't remove! */
    transition: all 300ms;
}
.TeamArea.blue {
    border: 2px solid rgb(59, 130, 246);
}
.TeamArea.blue.active {
    background-color: color-mix(in srgb, rgb(0, 0, 0) 80%, rgb(59, 130, 246) 20%);
    animation: pulsating-shadow-blue 1400ms cubic-bezier(0.4, 0, 0.6, 1) infinite alternate;
}
.TeamArea.red {
    border: 2px solid rgb(239, 68, 68);
}
.TeamArea.red.active {
    background-color: color-mix(in srgb, rgb(0, 0, 0) 85%, rgb(239, 68, 68) 15%);
    animation: pulsating-shadow-red 1400ms cubic-bezier(0.4, 0, 0.6, 1) infinite alternate;
}

.TeamArea > .roster {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 1rem;
}
.TeamArea > .results {
    padding: 1rem;
}
.TeamArea > .header {
    display: flex;
    justify-content: space-between;
}

/* Team Name+Editor */
.TeamArea > .header > .title {
    margin-left: 1rem;
    margin-top: 1.5rem;
}
.TeamArea > .header > .name {
    font-size: clamp(1.5rem, 1.8vw, 1.875rem);
    font-weight: bold;
    line-height: 2rem;
    word-break: break-word;
}
.TeamArea.blue > .header > .name {
    color: rgb(96, 165, 250);
}
.TeamArea.red > .header > .name {
    color: rgb(248, 113, 113);
}
.TeamArea > .header > .editor {
    max-width: 16rem;

    font-size: clamp(1.5rem, 1.8vw, 1.875rem);
    line-height: 2rem;

    border: 1px solid rgb(75, 85, 99);
    border-radius: 0.25rem;
    background: transparent;
}

/* Navigation (Roster/Result Calculator) */
.TeamArea > .header > .navigation {
    display: flex;
    align-items: flex-start;
}
.TeamArea > .header > .navigation .tab-button {
    padding: 0.5rem 0.875rem;

    font-size: 1rem;
    font-weight: bold;

    transition: background-color 200ms;
}
.TeamArea > .header > .navigation .tab-button:disabled {
    cursor: not-allowed;
    color: rgb(107, 114, 128);
}
.TeamArea > .header > .navigation .tab-button:not(:last-child) {
    border-top-right-radius: 0.5rem;
}
.TeamArea > .header > .navigation .tab-button.active {
    cursor: default;
    border-bottom: 2px solid white;
}
.TeamArea.blue > .header > .navigation .tab-button.active {
    background-color: rgb(59, 130, 246);
}
.TeamArea.red > .header > .navigation .tab-button.active {
    background-color: rgb(239, 68, 68);
}

/* Sub-headers (Total picks/bans + Cost) */
.TeamArea > .roster > .picks > .sub-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-bottom: 0.625rem;
    margin-top: -0.25rem;
}
.TeamArea > .roster > .picks > .sub-header > .title {
    font-size: 1.25rem;
    font-weight: bold;
}
.TeamArea > .roster > .picks > .sub-header > .total-cost {
    padding: 0.625rem 0.875rem;
    border-radius: 0.25rem;

    font-size: clamp(1.25rem, 2.1vw, 1.5rem);
    font-weight: bold;
    line-height: 1.5rem;
    color: var(--color-cost);

    background-color: rgba(0, 0, 0, 0.33);
}
.TeamArea > .roster > .bans > .sub-header {
    margin-bottom: 0.5rem;

    font-size: 1.25rem;
    font-weight: bold;
}

/* Characters container */
.TeamArea > .roster > .picks > .characters-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0.75rem;
}
.TeamArea > .roster > .bans > .characters-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

/* Character Slot(s) - Pick */
.TeamArea > .roster > .picks > .characters-container > .slot {
    position: relative;
    height: clamp(10rem, 14vw, 12rem);

    display: flex;
    flex-direction: column;

    border-radius: 0.5rem;
}
.TeamArea > .roster > .picks > .characters-container > .slot.empty {
    align-items: center;
    justify-content: center;
    font-size: 1.188rem;

    color: rgb(107, 114, 128);
    border: 0.125rem dashed rgb(75, 85, 99);
    background-color: rgb(55, 65, 81);
    user-select: none;

    transition: border-color 300ms, background-color 300ms, color 300ms;
}
.TeamArea > .roster > .picks > .characters-container > .slot.empty .order-step {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;

    color: rgb(209, 213, 219);
    font-size: 1.875rem;
    line-height: 1.625rem;
    letter-spacing: -0.0625rem;
    /* padding-right: ~~ ; handled on .tsx side */
}

/* Character Slot(s) - Ban */
.TeamArea > .roster > .bans > .characters-container > .slot {
    position: relative;
    height: 5.5rem;
    width: 5.5rem;
    overflow: hidden;

    border: 1px solid rgba(239, 34, 68, 0.66);
    border-radius: 0.25rem;
    /* border-radius: 50%; circular icon */
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.16);
}
.TeamArea > .roster > .bans > .characters-container > .slot.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;

    color: rgb(107, 114, 128);
    border: 0.125rem dashed rgb(75, 85, 99);
    background-color: rgb(55, 65, 81);
    user-select: none;
    box-shadow: none; /* Override box-shadow of non-empty */
    
    transition: border-color 300ms, background-color 300ms, color 300ms;
}
.TeamArea > .roster > .bans > .characters-container > .slot.empty .order-step {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;

    color: rgb(209, 213, 219);
    font-size: 1.25rem;
    line-height: 1.25rem;
    letter-spacing: -0.0625rem;
    /* padding-right: ~~ ; handled on .tsx side */
}

/* Character Slot(s) - Misc/Both */
.TeamArea.active > .roster .slot.empty:not(.current) {
    box-shadow: 1px 1px 5px 2px rgb(0, 0, 0, 0.5);
}
.TeamArea.blue > .roster .characters-container > .slot.current {
    color: white;
    /* border-style: solid; */
    border-width: 0.25rem;
    border-color: rgb(59, 130, 246);

    background-color: color-mix(in srgb, rgb(107, 114, 128) 60%, rgb(59, 130, 246) 40%);
    box-shadow: 0px 0px 9px 3px rgb(59, 130, 246);
}
.TeamArea.red > .roster .characters-container > .slot.current {
    color: white;
    /* border-style: solid; */
    border-width: 0.25rem;
    border-color: rgb(239, 68, 68);

    background-color: color-mix(in srgb, rgb(107, 114, 128) 60%, rgb(239, 68, 68) 40%);
    box-shadow: 0px 0px 9px 3px rgb(239, 68, 68);
}
.TeamArea.blue > .roster .characters-container > .slot.next-up {
    border-width: 0.25rem;
    border-color: rgb(59, 130, 246);
    background-color: color-mix(in srgb, rgb(55, 65, 81) 90%, rgb(59, 130, 246) 10%);
}
.TeamArea.red > .roster .characters-container > .slot.next-up {
    border-width: 0.25rem;
    border-color: rgb(239, 68, 68);
    background-color: color-mix(in srgb, rgb(55, 65, 81) 90%, rgb(239, 68, 68) 10%);
}

/* Character card (Picks) */
.TeamArea .characters-container > .slot > .character {
    position: relative;
    height: 100%;
    z-index: 10; /* DON'T REMOVE else NoImpositionLightconeSelector results's z-index breaks */
}

/* Character's combined cost */
.TeamArea .characters-container > .slot > .character > .total-cost {
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
    z-index: 20;
    
    cursor: help;
    padding: 0.125rem 0.5rem;
    border-radius: 0.5rem;

    font-size: clamp(1.25rem, 2.1vw, 1.375rem);
    font-weight: bold;
    color: var(--color-cost);

    background-color: rgba(0, 0, 0, 0.66);
}

/* Character's Image */
.TeamArea .characters-container > .slot > .portrait {
    position: absolute;
    height: 100%;
    width: 100%;
    
    object-fit: cover;
    border-radius: 0.5rem;
}

/* Character verticals (Eidolon/Imposition) container */
.TeamArea .characters-container > .slot > .character > .verticals {
    position: absolute;
    left: 0.25rem;
    bottom: 0.25rem;
    z-index: 20;

    display: flex;
    justify-content: center;

    padding: 0.25rem 0.5rem;

    background-color: rgba(0, 0, 0, 0.66);
}
.TeamArea .characters-container > .slot > .character > .verticals option {
    color: black;
    background-color: white !important; /* Select's results won't change background anymore (looks weird when non white) */
}

/* Eidolon */
.TeamArea .characters-container > .slot > .character > .verticals > .eidolon {
    /* Increases clickability area */
    padding: 0.25rem 0.5rem;
    margin: -0.25rem -0.5rem;
    
    cursor: pointer;
    font-size: clamp(1rem, 2.1vw, 1.188rem);
    font-weight: bold;
    background: transparent;

    /* Hide arrow's select */
    appearance: none;

    transition: all 300ms;
}
.TeamArea .characters-container > .slot > .character > .verticals > .eidolon:hover {
    background-color: rgba(105, 115, 129, 0.66);
}

/* Super Imposition */
.TeamArea .characters-container > .slot > .character > .verticals > .imposition {
    /* Increases clickability area */
    padding: 0.25rem 0.5rem 0.25rem 0;
    margin: -0.25rem -0.5rem -0.25rem 0;
    
    cursor: pointer;
    font-size: clamp(1rem, 2.1vw, 1.188rem);
    font-weight: bold;
    background: transparent;

    /* Hide arrow's select */
    appearance: none;

    transition: all 300ms;
    /* animation: fade-in 300ms; */
}
.TeamArea .characters-container > .slot > .character > .verticals > .imposition:hover {
    background-color: rgba(105, 115, 129, 0.66);
}

/* Character card (Bans) */
.TeamArea > .roster > .bans > .characters-container > .slot > .character {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 25%; /* Focus on upper portion where faces usually are */

    filter: grayscale(100%) brightness(0.8);
    transition: filter 200ms;
}
.TeamArea > .roster > .bans > .characters-container > .slot:not(.empty)::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, transparent 60%, rgba(239, 34, 68, 0.2) 100%);
    pointer-events: none;
}
.TeamArea > .roster > .bans > .characters-container > .slot:hover > .character {
    filter: grayscale(100%) brightness(1);
}

/* Custom configuration of LightconeSelector */
.TeamArea .characters-container > .slot:nth-child(2n) > .LightconeSelector > .result-set {
    left: unset; /* Fix to LC Search results going out-of-bounds! */
}
.TeamArea .characters-container > .slot > .LightconeSelector > .lightcone-slot {
    bottom: 0.5rem;
    clip-path: polygon(100% 0, 100% 100%, 45% 100%, 45% 50%);
}
.TeamArea .characters-container > .slot > .LightconeSelector > .lightcone-slot.divider {
    clip-path: polygon(100% 0, 100% 100%, 43.5% 100%, 43.5% 48.5%, 98.5% 0);
}
.TeamArea .characters-container > .slot > .LightconeSelector > .lightcone-slot > .lc-empty {
    height: clamp(4.5rem, 6vw, 5rem);
    width: clamp(4.5rem, 6vw, 5rem);

    /* Empty icon is bigger in TeamArea, takes up overall less space */
    padding: 1.25rem;
    padding-left: 0.875rem;
    margin-right: -0.25rem;
    margin-bottom: -0.375rem;
}
.TeamArea .characters-container > .slot > .LightconeSelector > .input-wrapper {
    padding-block: 0.25rem;
}
.TeamArea .characters-container > .slot:hover > .LightconeSelector > .input-wrapper > .search-bar,
.TeamArea .characters-container > .slot > .LightconeSelector > .input-wrapper:focus-within > .search-bar,
.TeamArea .characters-container > .slot:has(.verticals:focus-within) > .LightconeSelector > .input-wrapper > .search-bar {
    /* Show the LC searchbar when hovering over the character slot, or when focused. Slightly adjusted for size in TeamArea */
    max-height: 1.875rem !important;
}

/* Cost penalties */
.TeamArea > .pairing {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 1rem;
}
.TeamArea > .pairing > * {
    user-select: none; /* For smoother dragging experience */
}

.TeamArea > .pairing > .info {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.5rem;

    /* Matching the space taken by Drafting tab */
    margin-top: -0.25rem;
    margin-bottom: -0.8125rem;

    text-align: center;
    color: rgb(209, 213, 219);
    font-size: 1.125rem;
    font-weight: bold;
}
.TeamArea > .pairing > .info .total-cost {
    padding: 0.625rem 0.875rem;
    border-radius: 0.25rem;
    font-size: clamp(1.25rem, 2.1vw, 1.5rem);
    font-weight: bold;
    line-height: 1.5rem;
    color: var(--color-cost);
    background-color: rgba(0, 0, 0, 0.33);
}
.TeamArea > .pairing > .info > p {
    text-align: start;
    color: rgb(209, 213, 219);
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.5rem;
}

/* 1st/2nd Stage */
.TeamArea > .pairing > .stage {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
}

/* Sub-header (Total picks/bans + Cost) */
.TeamArea > .pairing > .stage .sub-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.TeamArea > .pairing > .stage .sub-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}
.TeamArea > .pairing > .stage .sub-header .half-cost {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;

    font-size: clamp(1.125rem, 2.1vw, 1.25rem);
    font-weight: bold;
    line-height: 1.5rem;
    color: var(--color-cost);

    background-color: rgba(0, 0, 0, 0.33);
}

/* Characters container */
.TeamArea > .pairing .characters-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0.75rem;
}
.TeamArea > .pairing .characters-container:hover {
    cursor: grab;
}
.TeamArea > .pairing .characters-container:active {
    cursor: grabbing;
}

/* Character slot */
.TeamArea > .pairing .characters-container > .slot {
    position: relative;
    height: clamp(10rem, 14vw, 12rem);

    display: flex;
    flex-direction: column;

    outline: 0.1875rem dashed transparent; 
    border-radius: 0.5rem;

    transition: all 200ms ease;
}
.TeamArea > .pairing .characters-container > .slot:hover {
    border-color: transparent;
    outline-color: rgb(96, 195, 230);
}
.TeamArea > .pairing .characters-container > .slot.empty {
    align-items: center;
    justify-content: center;
    font-size: 1.188rem;

    color: rgb(107, 114, 128);
    border: 0.125rem dashed rgb(75, 85, 99);
    background-color: rgb(55, 65, 81);
    user-select: none;

    transition: border-color 300ms, background-color 300ms, color 300ms;
}
.TeamArea > .pairing .characters-container > .slot.dragging {
    opacity: 0.4;
    transform: rotate(5deg) scale(0.95);
}
.TeamArea > .pairing .characters-container > .slot.drop-target {
    transform: scale(1.05);
}

/* Character attributes */
.TeamArea > .pairing .characters-container > .slot .portrait {
    position: absolute;
    height: 100%;
    width: 100%;

    pointer-events: none;
    user-select: none;
    
    object-fit: cover;
    border-radius: 0.5rem;
}
.TeamArea > .pairing .characters-container > .slot .synergy-icon {
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
    z-index: 20;

    height: clamp(1.75rem, 3.2vw, 2.125rem);
    width: clamp(1.75rem, 3.2vw, 2.125rem);
    filter: drop-shadow(#000080 2px 1px 0px);
}
.TeamArea > .pairing .characters-container > .slot .display-name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;

    text-align: center;
    font-size: clamp(1rem, 1.5vw, 1.125rem);
    line-height: 1.75rem;
    user-select: none;

    padding-inline: 0.25rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.75);
}

.TeamArea > .pairing > .stage .synergies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}
.TeamArea > .pairing > .stage .synergies h2 {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.TeamArea > .pairing > .stage .synergies .pair {
    padding: 0.125rem 0.375rem;

    font-weight: bold;
    border-radius: 0.5rem;
    background-color: rgb(8, 145, 178);
}
.TeamArea > .pairing > .stage .synergies .empty-message {
    color: rgb(209, 213, 219);
    font-style: italic;
}

/* Apply on mobile screens only */
@media screen and (max-width: 640px) {
    /* Limit width of team name input */
    .TeamArea > .header > .editor {
        max-width: 10rem;
    }

    /* double grid column in smaller screens */
    .TeamArea > .roster > .picks > .characters-container, .TeamArea > .pairing .characters-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/* Apply on mobile+tablet screens */
@media screen and (max-width: 1070px) {
    /* More focus on character's faces */
    .TeamArea > .roster > .picks > .characters-container > .slot > .portrait, .TeamArea > .pairing .characters-container > .slot .portrait {
        object-position: 50% 25%;
    }
}

/* Apply on table screens only (tablet sucks) */
@media only screen and (min-width: 640px) and (max-width: 1280px) {
    /* Increase clickability area according to the (un)holy tablet agenda */
    .TeamArea .characters-container > .slot > .character > .verticals {
        flex-direction: column; /* Rotating the placement to allow space for LC image */
    }
    .TeamArea .characters-container > .slot > .character > .verticals > .eidolon {
        padding: 0.25rem 0.5rem 0 0.5rem !important;
        margin: -0.25rem -0.5rem 0 -0.5rem !important;
    }
    .TeamArea .characters-container > .slot > .character > .verticals > .imposition {
        padding: 0 0.5rem 0.25rem 0.5rem !important;
        margin: 0 -0.5rem -0.25rem -0.5rem !important;
    }
}