.TeamArea {
    position: relative; /* don't remove! */
    transition: all 300ms;
}
.TeamArea > .roster {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 1.5rem;
}
.TeamArea > .results {
    padding: 1rem;
}
.TeamArea > .header {
    display: flex;
    justify-content: space-between;
}

/* Team Name+Editor */
.TeamArea > .header > .title {
    margin-left: 1rem;
    margin-top: 1.5rem;
}
.TeamArea > .header > .name {
    font-size: clamp(1.5rem, 1.8vw, 1.875rem);
    font-weight: bold;
    line-height: 2rem;
    word-break: break-word;
}
.TeamArea > .header > .editor {
    max-width: 16rem;

    font-size: clamp(1.5rem, 1.8vw, 1.875rem);
    line-height: 2rem;

    border: 1px solid rgb(75, 85, 99);
    border-radius: 0.25rem;
    background: transparent;
}

/* Navigation (Roster/Result Calculator) */
.TeamArea > .header > .navigation {
    display: flex;
    align-items: flex-start;
}
.TeamArea > .header > .navigation .tab-button {
    padding: 0.5rem 0.875rem;

    font-size: 1rem;
    font-weight: bold;

    transition: background-color 200ms;
}

/* Sub-headers (Total picks/bans + Cost) */
.TeamArea > .roster > .picks > .sub-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-bottom: 0.625rem;
    margin-top: -0.25rem;
}
.TeamArea > .roster > .picks > .sub-header > .title {
    font-size: 1.25rem;
    font-weight: bold;
}
.TeamArea > .roster > .picks > .sub-header > .active-tag {
    position: absolute;
    right: 0;
    left: 0;

    width: fit-content;
    margin-inline: auto;
    padding: 0.375rem 1.125rem;

    font-size: clamp(1rem, 1.8vw, 1.125rem);
    font-weight: 500;
    border-radius: 9999px;
}
.TeamArea > .roster > .picks > .sub-header > .total-cost {
    padding: 0.625rem 0.875rem;
    border-radius: 0.25rem;

    font-size: clamp(1.25rem, 2.1vw, 1.5rem);
    font-weight: bold;
    line-height: 1.5rem;
    color: var(--color-cost);

    background-color: rgba(0, 0, 0, 0.33);
}
.TeamArea > .roster > .bans > .sub-header {
    margin-bottom: 0.5rem;

    font-size: 1.25rem;
    font-weight: bold;
}

/* Characters container */
.TeamArea > .roster > .picks > .characters-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0.75rem;
}
.TeamArea > .roster > .bans > .characters-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

/* Character Slot(s) */
.TeamArea > .roster > .picks > .characters-container > .slot {
    position: relative;
    height: clamp(10rem, 14vw, 12rem);

    display: flex;
    flex-direction: column;

    border-radius: 0.5rem;
}
.TeamArea > .roster > .picks > .characters-container > .slot.empty {
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;

    color: rgb(107, 114, 128);
    border: 2px dashed rgb(75, 85, 99);
    background-color: rgb(55, 65, 81);
    user-select: none;
}
.TeamArea > .roster > .bans > .characters-container > .slot {
    position: relative;
    height: 4.8rem;
    width: 4.8rem;
    overflow: hidden;

    border: 1px solid rgba(239, 34, 68, 0.66);
    /* border-radius: 50%; circular icon */
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.16);
}
.TeamArea > .roster > .bans > .characters-container > .slot.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;

    color: rgba(239, 34, 68, 0.7);
    border: 2px dashed rgb(239, 34, 68, 0.5);
    background-color: rgb(55, 65, 81);
    user-select: none;

    box-shadow: none; /* override */
}

/* Character card (Picks) */
.TeamArea > .roster > .picks > .characters-container > .slot > .character {
    position: relative;
    height: 100%;
    z-index: 10; /* DON'T REMOVE else NoImpositionLightconeSelector results's z-index breaks */
}

/* Character's combined cost */
.TeamArea > .roster > .picks > .characters-container > .slot > .character > .total-cost {
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
    z-index: 20;
    
    cursor: help;
    padding: 0.125rem 0.5rem;
    border-radius: 0.5rem;

    font-size: clamp(1.25rem, 2.1vw, 1.375rem);
    font-weight: bold;
    color: var(--color-cost);

    background-color: rgba(0, 0, 0, 0.66);
}

/* Character's Image */
.TeamArea > .roster > .picks > .characters-container > .slot > img {
    position: absolute;
    height: 100%;
    width: 100%;
    
    object-fit: cover;
    border-radius: 0.5rem;
}

/* Character verticals (Eidolon/Imposition) container */
.TeamArea > .roster > .picks > .characters-container > .slot > .character > .verticals {
    position: absolute;
    left: 0.25rem;
    bottom: 0.25rem;
    z-index: 20;

    display: flex;
    justify-content: center;

    padding: 0.25rem 0.5rem;

    background-color: rgba(0, 0, 0, 0.66);
}
.TeamArea > .roster > .picks > .characters-container > .slot > .character > .verticals option {
    background-color: white !important; /* Select's results won't change background anymore (looks weird when non white) */
}

/* Eidolon */
.TeamArea > .roster > .picks > .characters-container > .slot > .character > .verticals > .eidolon {
    /* Increases clickability area */
    padding: 0.25rem 0.5rem;
    margin: -0.25rem -0.5rem;
    
    cursor: pointer;
    font-size: clamp(1rem, 2.1vw, 1.188rem);
    font-weight: bold;
    background: transparent;

    /* Hide arrow's select */
    appearance: none;

    transition: all 300ms;
}
.TeamArea > .roster > .picks > .characters-container > .slot > .character > .verticals > .eidolon:hover {
    background-color: rgba(105, 115, 129, 0.66);
}

/* Super Imposition */
.TeamArea > .roster > .picks > .characters-container > .slot > .character > .verticals > .imposition {
    /* Increases clickability area */
    padding: 0.25rem 0.5rem 0.25rem 0;
    margin: -0.25rem -0.5rem -0.25rem 0;
    
    cursor: pointer;
    font-size: clamp(1rem, 2.1vw, 1.188rem);
    font-weight: bold;
    background: transparent;

    /* Hide arrow's select */
    appearance: none;

    transition: all 300ms;
    animation: fade-in 300ms;
}
.TeamArea > .roster > .picks > .characters-container > .slot > .character > .verticals > .imposition:hover {
    background-color: rgba(105, 115, 129, 0.66);
}

/* Character card (Bans) */
.TeamArea > .roster > .bans > .characters-container > .slot > .character {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 25%; /* Focus on upper portion where faces usually are */

    filter: grayscale(100%) brightness(0.8);
    transition: filter 200ms;
}
.TeamArea > .roster > .bans > .characters-container > .slot:not(.empty)::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, transparent 60%, rgba(239, 34, 68, 0.2) 100%);
    pointer-events: none;
}
.TeamArea > .roster > .bans > .characters-container > .slot:hover > .character {
    filter: grayscale(100%) brightness(1);
}

/* Apply on mobile screens only */
@media screen and (max-width: 640px) {
    /* Limit width of team name input */
    .TeamArea > .header > .editor {
        max-width: 10rem;
    }

    /* double grid column in smaller screens */
    .TeamArea > .roster > .picks > .characters-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/* Apply on mobile+tablet screens */
@media screen and (max-width: 1070px) {
    /* More focus on character's faces */
    .TeamArea > .roster > .picks > .characters-container > .slot > img {
        object-position: 50% 25%;
    }
}

