@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-light: #ffffff;
    --color-dark: #171717;
    --color-cost: rgb(251, 191, 36);

    --gradient-5star: linear-gradient(rgb(138, 103, 0) 0px, rgb(214, 161, 0) 63px, rgb(214, 161, 0) 130px);
    --gradient-4star: linear-gradient(rgb(95, 56, 140) 0px, rgb(159, 108, 217) 63px, rgb(159, 108, 217) 130px);

    --border-5star: rgb(251, 191, 36);
    --border-4star: rgb(168, 85, 247);
    --border-3star: rgb(46, 135, 250);

    --shadow-5star: 2px 2px 4px 3px rgba(251, 191, 36, 0.16);
    --shadow-4star: 2px 2px 4px 3px rgba(168, 85, 247, 0.16);
    --shadow-3star: 2px 2px 4px 3px rgba(46, 135, 250, 0.16);

    --lc-3star: rgb(96, 165, 250);
    --lc-4star: rgb(192, 132, 252);
    --lc-5star: rgb(251, 201, 66);
}

.accent-text {
  @apply text-slate-600;
}

.Box {
    box-sizing: border-box;

    background: rgb(31 41 55);
    border: 1px solid rgb(55 65 81);
    border-radius: 0.5rem;
}

body {
  font-family:
    "Inter Variable",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";

  color: var(--color-light);
  background: rgb(31, 31, 31);
}


/* 5* Entity */
[data-rarity="5"] {
    border: 1px solid var(--border-5star);
    box-shadow: var(--shadow-5star);
}
[data-rarity="5"] .portrait {
    background: var(--gradient-5star);
}

/* 4* Entity */
[data-rarity="4"] {
    border: 1px solid var(--border-4star);
    box-shadow: var(--shadow-4star);
}
[data-rarity="4"] .portrait {
    background: var(--gradient-4star);
}

/* 3* Entity */
[data-rarity="3"] {
    border: 1px solid var(--border-3star);
    box-shadow: var(--shadow-3star);
}

/* only use this to update the style of the auth input fields. use a different class for all other input fields */
.auth-input-field {
  @apply w-full px-4 py-3 rounded-container bg-white border border-gray-200 focus:border-primary focus:ring-1 focus:ring-primary outline-none transition-shadow shadow-sm hover:shadow;
}

/* only use this to update the style of the auth buttons. use the button class for all other buttons */
.auth-button {
  @apply w-full px-4 py-3 rounded bg-primary text-white font-semibold hover:bg-primary-hover transition-colors shadow-sm hover:shadow disabled:opacity-50 disabled:cursor-not-allowed;
}

/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #374151;
}

::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulsating-shadow-blue {
    0% {
        box-shadow: 
            0px 0px 6px 2px rgba(59, 130, 246, 0.5),
            0px 0px 16px 5px rgba(59, 130, 246, 0.3),
            0px 0px 32px 8px rgba(59, 130, 246, 0.15);
    }
    100% {
        box-shadow: 
            0px 0px 12px 4px rgba(59, 130, 246, 0.7),
            0px 0px 24px 8px rgba(59, 130, 246, 0.4),
            0px 0px 48px 16px rgba(59, 130, 246, 0.2);
    }
}
@keyframes pulsating-shadow-red {
    0% {
        box-shadow: 
            0px 0px 6px 2px rgba(239, 68, 68, 0.5),
            0px 0px 16px 5px rgba(239, 68, 68, 0.3),
            0px 0px 32px 8px rgba(239, 68, 68, 0.15);
    }
    100% {
        box-shadow: 
            0px 0px 12px 4px rgba(239, 68, 68, 0.7),
            0px 0px 24px 8px rgba(239, 68, 68, 0.4),
            0px 0px 48px 16px rgba(239, 68, 68, 0.2);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes slideFromTop {
    0% {
        transform: translateY(-100%);
        filter: blur(0.25rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes pulsating-shadow-cyan {
    0% {
        box-shadow: 
            1px 1px 4px 2px rgba(0, 0, 0, 0.16),
            0px 0px 6px 2px rgba(8, 145, 178, 0.35);
    }
    100% {
        box-shadow: 
            1px 1px 4px 2px rgba(0, 0, 0, 0.16),
            0px 0px 10px 3px rgba(8, 145, 178, 0.5),
            0px 0px 20px 6px rgba(8, 145, 178, 0.25);
    }
}
@keyframes pulsating-shadow-green {
    0% {
        box-shadow: 
            1px 1px 4px 2px rgba(0, 0, 0, 0.16),
            0px 0px 6px 2px rgba(22, 163, 74, 0.35);
    }
    100% {
        box-shadow: 
            1px 1px 4px 2px rgba(0, 0, 0, 0.16),
            0px 0px 10px 3px rgba(22, 163, 74, 0.5),
            0px 0px 20px 6px rgba(22, 163, 74, 0.25);
    }
}

@keyframes slow-slide-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(-10px) scale(0.9);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes grow-fade-in {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes bob-left {
    0% { 
        transform: translateX(0px); 
    }
    100% { 
        transform: translateX(-0.75rem); 
    }
}
@keyframes bob-right {
    0% { 
        transform: translateX(0px); 
    }
    100% { 
        transform: translateX(0.75rem); 
    }
}